body{
    background-color: rgb(187, 255, 232);
}

#score{
    font-size: 30px;
    float: left;
    margin-left: 30px;

}

#timer{
    font-size: 30px;
    float: right;
    margin-right: 30px;
    
}

#sketch_to_be{
color: rgb(0, 195, 255);
font-size: 20px;
}

canvas{

    border: 3px solid white;
    border-radius: 25px; 
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
 }
 
 @keyframes example{
     from {box-shadow: 1px 1px 38px rgb(6, 122, 255);}
     to {box-shadow: 1px 1px 38px rgb(68, 0, 255);}
 
 }